
@{
    ViewBag.Title = "AbrirForm";
}

@if (TempData["msg"] != null)
{
    <div class="alert alert-danger">@TempData["msg"]</div>
}
<h2>Cadastra ae mano</h2>

<form action="Index" method="post" class="form-group">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" />

    <label for="alcoolico">Alcoolico</label>
    <input type="checkbox" name="alcoolico" id="alcoolico" />

    <label for="preco">Preco</label>
    <input type="text" name="preco" id="preco" />

    <input type="submit" value="cadastrar" />
</form>